/* Fonts */
//@font-face {
//	font-display: swap;
//	font-family: 'Manrope';
//	font-style: normal;
//	font-weight: 400;
//	src: url('../fonts/ManropeRegular.eot');
//	src: url('../fonts/ManropeRegular.eot?#iefix') format('embedded-opentype'),
//		url('../fonts/ManropeRegular.woff') format('woff'),
//		url('../fonts/ManropeRegular.ttf') format('truetype'),
//		url('../fonts/rowdies-v17-latin-regular.woff2') format('woff2');
//}
@font-face {
	font-display: swap;
	font-family: 'Alegreya Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/AlegreyaSansLight.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Alegreya Sans';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/AlegreyaSansThin.woff2') format('woff2');
}
